testportsnan.py
try.py
exaulamundo1/dict.py
exaulamundo1/exargs.py
exaulamundo1/exfunc.py
exaulamundo1/func.py
exaulamundo1/listcompreenhesion.py
exaulamundo1/listcompreenhesion2.py
exaulamundo1/os.py
exaulamundo1/teste.py
exaulamundo1/testeglobal.py
exaulamundo1/train.py
interfatectreino/treino1.py
interfatectreino/treino2.py
interfatectreino/treino3.py
interfatectreino/treino4.py
interfatectreino/treino5.py
interfatectreino/treino6.py
interfatectreino/treino7.py
interfatectreino/treino8.py
interfatectreino/treino9.py
interfatectreino/treino10.py
interfatectreino/treino11.py
interfatectreino/treino12.py
interfatectreino/treino13.py
interfatectreino/treino14.py
interfatectreino/treino15.py
interfatectreino/treino16.py
project_tools/tools.py
project_tools/assets/image/bg.jpg
project_tools/assets/image/icon.ico
projeto/~$clientes.xlsx
msgWhatsapp copy.py
